.header-bg-container{
    background-color: #0067A3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
}

.header-clickable-container{
    background-color: #4E97C2;
    height: 36px;
    padding: 0px 12px;
    border-radius: 4px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.header-clickable-container:hover{
    background-color: #2FA9F1;
}
.header-section-container{
    display: flex;
    flex-direction: row; 
    align-items: center;   
}



.header-logo{
    height: 36px;
    opacity: 0.3;
}

.profile-image-container{
    height: 36px;
    width: 36px;
    border-radius: 18px;
    background-color: #bae3ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-name-initials{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0967d2;
    font-size: 16px;
    font-weight: 500;
}