@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.login-bg-container{
    background-color: #1976AD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 32px;
}

.login-page-logo{
    width: 64%;
    max-width: 320px;
    margin-bottom: 32px;
}   

.login-container{
    width: 100%;
    max-width: 420px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 24px;
    text-align: center;
}
@media screen and (min-width:768px) {
    .login-container{
        padding: 48px;
    }
}

.login-image{
    width: 100%;
    margin-bottom: 8px;
}

.login-page-app-description{
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 24px;
}

.login-button{
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    background-color: #1976AD;
    padding: 0px 32px;
    height: 48px;
    border: none;
    border-radius: 24px;
    margin-bottom: 8px;
}

.login-button:hover{
    cursor: pointer;
    outline-color: gray;
    outline-style: solid;
    outline-width: 2px;
}